@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url("../fonts/UbuntuMono/UbuntuMono-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url("../fonts/UbuntuMono/UbuntuMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url("../fonts/UbuntuMono/UbuntuMono-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-family: 'Open Sans';
}

.introOutro {
  background-color: #253746;
  color: #fff;
}

.introOutro::before {
  content: '';
  position: absolute;
  top: -15vh;
  bottom: -15vh;
  left: -30%;
  width: 80%;
  background-color: #62e52c;
  border-radius: 0 200% 200% 0;
  opacity: 0.7;
  z-index: 0;
}

.introLogo,
.introOutroText,
.smallColumnLeft,
.bigColumnLeft,
.bigColumnRight,
.smallColumnRight,
.bigColumnRight,
.smallColumnRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introLogo,
.smallColumnLeft,
.bigColumnLeft,
.introOutroText,
.bigColumnRight,
.smallColumnRight {
  position: absolute;
  top: 0;
  bottom: 0;
}

.introLogo, .smallColumnLeft, .bigColumnLeft {
  left: 0;
}

.introOutroText, .bigColumnRight, .smallColumnRight {
  right: 0;
}

.introLogo {
  width: 50%;
  align-items: center;
}

.introOutroText {
  width: 50%;
  align-items: center;
}

.introOutroText h1, .introOutroText h2 {
  margin: 0;
}

.introOutroText h2 {
  font-weight: normal;
  font-size: 35px;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.logoContainer {
  position: absolute;
  top: 1rem;
}

.logoRight {
  right: 1rem
}

.logoLeft {
  left: 1rem;
}

.logoContainer svg {
  width: 4rem;
  height: 4rem
}

.introLogo svg {
  width: 15rem;
  height: 15rem;
}

.logoWhite svg {
  fill: #fff;
}

.logoGreen svg {
  fill: #62e52c;
}

.blueBg1 {
  background-color: #253746;
  color: #fff;
}

.greenBg1 {
  background-color: #62e52c;
  color: #fff;
}

.whiteBg1 {
  color: #253746;
}

.whiteBg1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15vh;
  bottom: 15vh;
  width: 0.75vw;
  background-color: #62e52c;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.green {
  color: #62e52c;
}

.blue {
  color: #253746;
}

.footnote  {
  position: absolute;
  bottom: 2vh;
  font-size: small;
}

.smallColumnLeft, .bigColumnLeft {
  padding-left: 2.1rem;
}

.smallColumnLeft {
  width: 30%;
}

.bigColumnLeft {
  width: 62%;
}

.bigColumnRight {
  width: 62%;
}

.smallColumnRight {
  width: 33%;
}

.bottomImage {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
}

.bigColumnRight img, .smallColumnRight img, .bottomImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentTable {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contentTable td:first-child {
  text-align: right;
}

.contentTable td:nth-child(2) {
  text-align: left;
}